@font-face {
    font-family: "roboto-regular";
    src: url("../tipo/Roboto-Regular-webfont.eot");
    src: url("../tipo/Roboto-Light-webfont.woff") format("woff"),
      url("../tipo/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
      url("../tipo/Roboto-Regular-webfont.ttf") format("truetype"),
      url("../tipo/Roboto-Regular-webfont.svg#roboto-regular") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../tipo/Montserrat-Medium.ttf") format(truetype);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "roboto-medium";
  src: url("../tipo/Roboto-Medium.ttf") format(truetype);
  font-weight: 500;
  font-style: normal;
}
  